:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);
  background-color: beige;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
form {
  margin: 0 auto;
}
button {
  padding: 1em;
}
label {
  color: black;
  font-size: 1em;
}

header {
  color: black;
  text-align: center;
}
.todo-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}
.todo-title {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.todo-parent {
display: flex;
  justify-content: space-between; /* Pushes text left and button-group right */
  align-items: center; /* Keeps everything vertically centered */
  padding: 1rem;
  border-bottom: 1px solid black;
}

.button-group {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
}