:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: beige;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  color: black;
  text-align: center;
}

.todo-title {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.todo-container {
  display: grid;
}

.todo-parent {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  justify-content: space-around;
}

.btn-delete,
.btn-edit {
  padding: 10px;
  width: 20%;
}
